name: Build (skip tests)

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: ["main"]

jobs:

          # --- Spring Boot api build job ---
  backend:
    name: Build (skip tests)
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven (skip tests)
        env:
          JWT_SECRET: temporarysecret123
        run: mvn clean package -DskipTests

          # --- Expo / React Native build job ---
  app:
    name: Build Expo App
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Cache Node modules
        uses: actions/cache@v4
        with:
          path: ./app/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('app/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci --legacy-peer-deps
        working-directory: ./app

      - name: Lint Expo project
        run: npm run lint
        working-directory: ./app
        env:
          CI: 1      

      - name: Prebuild Android
        run: npx expo prebuild
        working-directory: ./app
        env:
          CI: 1

